@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, my name is Patrik Kurniawan Saputra (72220533)</h1>

This is my project for Front End Programming!
<br />
Let's count up!
<Counter IncrementAmount="10" />
